<header class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/cloud_icon.png" alt="Weather App" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex align-items-center" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" *ngIf="auth.isAuthenticated$ | async">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item" *ngIf="auth.isAuthenticated$ | async">
                    <a class="nav-link" href="/weather">Weather</a>
                </li>
            </ul>
                <a class="button-primary" *ngIf="auth.isAuthenticated$ | async" (click)="logout()">Logout</a>
        </div>
    </div>
</header>