<div class="welcome-message">
  <h2 class="text-white mb-5">Hello World!</h2>
  <p class="message">Welcome to the weather forecast web application. Please login with your Github account to use the application and view the weather in your city.</p>
  <a class="button-primary button-small" (click)="login()" *ngIf="!(auth.isAuthenticated$ | async)">
    <i class="fab fa-github mr-2"></i>
    Login
  </a>
</div>
<div class="bg-images">
  <img src="/static/bg-2.png" alt="" class="bg-image-2">
  <img src="/static/bg-1.png" alt="" class="bg-image-1">
</div>