<div class="d-flex">
  <a href="/" class="button-primary button-small my-4 mx-5">Back</a>
</div>
<div class="d-flex flex-column align-items-center px-5 py-3" *ngIf="weatherData; else noData">
  <h1 class="text-white text-center mb-5">Weather in {{ weatherData.name }}</h1>

  <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="card date-card">
            <div class="card-body">
              <h3 class="card-title">{{ weatherData.dt * 1000 | date:'MM/dd/yyyy' }}</h3>
              <p class="card-text">Date</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card temp-card">
            <div class="card-body">
              <h3 class="card-title">{{ weatherData.main.temp }} °C</h3>
              <p class="card-text">Temperature</p>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="col-md-6 second-container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ weatherData.weather[0].main }}</h3>
            <p class="card-text">Main</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ weatherData.weather[0].description }}</h3>
            <p class="card-text">Description</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ weatherData.main.pressure }}</h3>
            <p class="card-text">Pressure</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ weatherData.main.humidity }}</h3>
            <p class="card-text">Humidity</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  <div class="d-flex flex-column align-items-center px-5 py-3">
    <h1 class="text-white text-center mb-5">No weather data available</h1>
    <p class="text-white">Please try searching for a location again.</p>
  </div>
</ng-template>

<div class="bg-images" *ngIf="weatherData && weatherData.weather[0].main === 'Clouds'">
  <img src="/static/bg-2.png" alt="" class="bg-image-1">
</div>

<div class="bg-images" *ngIf="weatherData && weatherData.weather[0].main === 'Clear'">
  <img src="/static/clear.png" alt="" class="bg-image-1" width="600px">
</div>

<div class="bg-images" *ngIf="weatherData && weatherData.weather[0].main === 'Rain'">
  <img src="/static/rain.png" alt="" class="bg-image-1" width="600px">
</div>

<div class="bg-images" *ngIf="weatherData && weatherData.weather[0].main === 'Drizzle'">
  <img src="/static/drizzle.png" alt="" class="bg-image-1" width="600px">
</div>

<div class="bg-images" *ngIf="weatherData && weatherData.weather[0].main === 'Thunderstorm'">
  <img src="/static/thunder.png" alt="" class="bg-image-1" width="600px">
</div>